<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="xi-sms-tests">
            <directory>./tests/Xi</directory>
        </testsuite>
    </testsuites>

    <php>

    </php>

    <filter>
        <blacklist>
            <directory suffix=".php">./vendor/</directory>
            <directory suffix=".php">./tests/</directory>
        </blacklist>
    </filter>

</phpunit>
