<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="xi-sms-tests">
            <directory>./Xi</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="RECEIVER_MSISDN" value="" />
        <const name="MESSAGEBIRD_APIKEY" value="" />
    </php>

</phpunit>
